:root {
    --cor-primaria: #0083cb;
    --cor-secundaria: #040203;    
    --cor-branca: #fff;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-cinza-escuro: #282828;
    --cor-fundo-cinza-claro: #353535;
    --cor-fundo: #0f206c;    
  }
    
  :root {
    --fonte-primaria: 'Kanit', sans serif;
    --fonte-secundaria: 'REM', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }